/* Resetar formato navegador */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
}

body {
    width: 100%;
    height: 100%;  
}

header{
    width: 100%;
    height: 60px;
    background-color: green;
    border-bottom: 10px solid rgb(133, 72, 16);
}
main {
    width: 100%;
    height: 650px; 
}

footer {
    width: 100%;
    background-color: green;
    border-top: 10px solid rgb(133, 72, 16);
}

h1,h2 {
    text-align: center;
}

h1 {
    padding: 25px 0;
}

h2 {
    padding-bottom: 150px;
}

.contenedor-pizarras {
    width: 90%;
    border: 10px solid rgb(133, 72, 16);
    margin: auto;
    background: green;
    display: grid;
    grid-template-columns: 557px 557px 557px;
}

.contenedor-pizarras  div {
    display: block;
    padding: 20px;
    color: white;
}


ul {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% ;
    gap: 25px;
}

li {
    list-style: none;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    border-bottom: 5px white solid;
}

.pizarra-letras  div { 
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

table {
    width: 300px;
    border: solid 1px white;
}


td {
    text-align: center;
}

.letra-incorrecta{ 
    text-decoration: line-through black;
    color: black;
}

.letra-correcta {
    border: solid 1px white;
}

form {
    width: 100%;
    max-height: 400px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 100%;
    gap: 10px;
    color: #fff;
}

.form1 input {
    margin: auto;
    width: 20px;
    height: 20px;
    background-color: white;
    border: none;
    border-radius: 10px;
    outline: 0px;
    text-align: center;
    font-weight: 10px;
}

.lbl-letra {
    margin: auto;
}

.form1 button {
    width: 100px;
    height: 40px;
}
button {
    margin: auto;
    background-color: rgb(1, 65, 1);
    border-radius: 10px;
    border: none;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: rgba(1, 65, 1, 0.493);
}

.contenedor-boton-comenzar {
    width: 90%;
    margin: auto;
    background: green;
}

.form2 button {
    width: 200px;
    height: 50px;
}

.ocultar {
    display: none;
}

.final {
    width: auto;
    display: flex;
    color: #fff;
    display: grid;
    grid-template-columns: 50% 50%;
}

.contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 52px 0; 
}

.agregar-palabra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.redes a img {
    width: 30px;
    height: 30px;
    margin: 5px;

    border-radius: 20px;
}

.redes a img:hover {
    transform: scale(1.5);
    transition: all 1s;
}

.ipt-agregar-palabra {
    width: 20%;
    height: 50px;
    margin: auto;
    outline: 0px;
}

h3 {
   padding-bottom: 10px; 
}

.btn-agregar-palabra {
    width: 15%;
    height: 40px;
}





